:root {
  --branding-color: orange;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

body {
  margin: 60px auto;
  max-width: 800px;
  display: block;
}

h1 {
  font-size: 96px;
  font-family: var(--heading-font);
  font-weight: bold;
}

p {
  font-size: 36px;
  font-weight: bold;
  font-family: var(--default-font);
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  opacity: 0.7;
}

.hero {
  text-align: center;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
}
