:root {
  --primary-color: rgb(255, 136, 0);
  --secondary-color: lightgrey;
  --box-shadow: 0 5px 10px rgb(241, 185, 158);
}

body {
  margin: 60px auto;
  max-width: 800px;
  display: block;
}

h1 {
  font-size: 80px;
  display: block;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  display: block;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 24px;
  display: block;
  font-weight: normal;
  opacity: 0.7;
}

.hero {
  text-align: center;
  margin: 0;
}

.btn-branding {
  background: orange;
}
